
/* Global Styles 
---------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar-logo a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    transition: color 0.3s;
}

.navbar-logo a:hover {
    color: #ff6600;
}

.navbar-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #ff6600;
}

/* Responsive Navbar */
.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar-toggle span {
    height: 4px;
    width: 30px;
    background-color: #ff6600;
    margin: 3px 0;
}


 /* Animations Section
  ---------------------------------------------*/
.content-wrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 70px 0;
}

h2 {
font-family: 'Young Serif', serif;
font-weight: 400;
margin: 0;
}
/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}
.footer-bottom {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
/* Media Query for Responsive Navbar */
@media (max-width: 768px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 60px;
    }

    .navbar-links ul {
        flex-direction: column;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-toggle {
        display: flex;
    }
}